@model ClothBazar.Entities.Category
@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <div class="col-md-12">
        <div class="title-section">
            <h2 class="title">
                Delete Product
            </h2>
        </div><!-- /.title-section -->
    </div><!-- /.col-md-12 -->
</div><!-- /.row -->


<div style="background-color:#FFEBEE;padding:10px;border-radius:15px">
    <br />
    <div style="text-align:center">
        <h3 style="color:red">Are You Sure To Delete ?</h3>

        <h2 style="color:darkgreen">@Model.Name</h2>

        <hr />
        <button class="btn btn-danger" id="catDeleteBtn">Yes Delete</button>
        
    </div>
    <br />
</div>
<br />
<script>
    $('#catDeleteBtn').click(function () {


        $.ajax({
            type:'POST',
            url: "/Category/Delete",
            data: {
               ID : @Model.ID
            }
        }).done(function (response) {
            $('#tableContainer').html(response);
            $('#actionContainer').html(" ");

        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Failure")
        });
    });

</script>
